<div class="imagebox">
	<div class='imagecontainer'>
		<% @products.each  do |product| %>
			<div class='one-pro'>	
				<div class='one-pro-inner'>
					<div class='photo'>
						<%= link_to(product_path(product)) do %>
							<% @id = product.id %>
							<%= image_tag(product.images[0].image_url, :id => @id) %>	
						<% end %>
					</div>
					<div class='like'>
						<% if current_user %>
							<%= link_to raw("<span class=\"likeinner\"><i class=\"icon-heart\"></i></span>"), likes_path(product_id: product.id), method: :post, remote: true %>
						<% else %>
							<%= link_to raw("<span class=\"likeinner\"><i class=\"icon-heart\"></i></span>"), signin_path %>
						<% end %>
						<span class='likecount'><%= product.users.count %></span>
					</div>
				</div>
				<div class='spec'><span class='protitle'><%=link_to product.title, product_path(product) %></span><span class='proprice'><%= product.price %> ￥</span>
				</div>
			</div>
		<% end %>
	</div>
	<%= javascript_include_tag "product_like" %>
</div>

