<div class='accountsleftbar'>
<ul class='nav nav-list'>
	<li class='nav-header'><%= link_to "返回首页", root_path%></li>
	<li class='nav-header'><%= link_to "概览", user_path(@user) %></li> 
	<li class='nav-header'><%= link_to "配送地址", deliveraddress_path %></li> 
	<li class='nav-header'><%= link_to "我的订单", orders_path %></li> 
	<li class='nav-header'><%= link_to "特惠信息订阅", subscription_path %></li> 
	<li class='nav-header'><%= link_to "我的邀请", invitation_path %></li> 
	<li class='nav-header'><%= link_to "退换货申请", cancelapplication_path %></li>
</ul>
</div>