<div class='helpleftbar'>
<ul class='nav nav-list'>
	<li class='nav-header'><%= link_to "常见问题", faq_path%></li> 
	<li class='nav-header'><%= link_to "新手指南", newbieguide_path %></li> 
	<li class='nav-header'><%= link_to "售后服务", afterservice_path %></li> 
	<li class='nav-header'><%= link_to "快递运输说明", shippingintro_path %></li> 
	<li class='nav-header'><%= link_to "隐私权声明", privacy_path %></li> 
	<li class='nav-header'><%= link_to "联系我们", contact_path %></li>
</ul>
</div>