<div class='leftbar'>
<ul class='nav nav-list'>
	<li class='nav-header'><%= link_to "首页", root_path%></li>
	<li class='nav-header'><%= link_to "最新产品", newproduct_path%></li> 
	<li class='nav-header'><%= link_to "野兽派花店", beastflower_path %></li> 
	<li class='nav-header'><%= link_to "香氛沙龙", fragrance_path %></li> 
	<li class='nav-header'><%= link_to "服饰配件", clothes_path %></li> 
	<li class='nav-header'><%= link_to "杂货铺", grocery_path %></li> 
	<li class='nav-header'><%= link_to "特别合作", cooperation_path %></li>
	<li id="fat-menu" class="dropdown nav-header">
		<a href='#' class="dropdown-toggle" data-toggle="dropdown">
      故事 <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li><%= link_to "品牌" %></li>
      <li><%= link_to "野兽先生" %></li>
      <li><%= link_to "野兽小姐" %></li>
      <li><%= link_to "野兽影响" %></li>
      <li><%= link_to "野兽花园" %></li>
    </ul>
  </li>
</ul>
</div>

