<div class='row'>
	<div class='span8'>
		<footer class='footer text-center '>
			<small>
				<ul class='inline'>
					<li><%= link_to "关于我们", about_path %></li>
					<li><%= link_to "合作联系", contact_path %></li> 
					<li><%= link_to "常见问题", faq_path %></li> 
					<li><%= link_to "隐私权声明", privacy_path %></li> 
					<li><%= link_to "快递查询",'http://www.kuaidi100.com/' %></li> 
					<li>热线电话：18940883460</li>
					<li>客服邮箱：jizilong1988@163.com</li>
				</ul>
				
				<p>工作时间：周一至周五9:00-21:00；周六10:00-18:00，周日和法定节假日休息</p>
				
				<p>友情提示：本店的电话彩铃有点长。。。您听到彩铃后可直接按 0，客服会接听电话，就不用等那么久。</p>
				
				<p>Copyright © 野兽派 2011-2012，All Rights Reserved | 沪ICP备12032741号</p>
			</small>
		</footer>
	</div>
</div>
			   
