<div class="navbar navbar-fixed-top">
<div class="navbar-inner">
  <div class="container">
     <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </a>
    <%=link_to "The BEAST 野兽派", root_path, :class => 'brand' %>
    <div class="nav-collapse collapse">
      <ul class='nav nav-tabs'>
        <% if sign_in? %>
          <li class='nav-text'>你好呀, <%= current_user.username %></li>
          <li><%= link_to "我的野兽派", user_path(current_user) %></li>
          <li><%= link_to "退出", signout_path, method: "delete" %></li>
        <% else %>
          <li class='nav-text'>欢迎来到 THE BEAST 野兽派！</li>
          <li><%= link_to "注册", signup_path %></li>
          <li><%= link_to "登录", signin_path %></li>
        <% end %>
        <li><%= link_to "帮助中心", faq_path %></li>
      </ul>
    </div>
   </div>
</div>
</div>