<header>
    <%= image_tag("logo.jpg", :size => "240x150") %>
    <form>
      <input type="text" class="input-medium search-query">
      <input type="submit" name='submit' id='submit'  class="submit" value='Search'>
    </form>
    <div id='user_panel'>
      <%= link_to "登录", signup_path %>
      <%= link_to "注册", signin_path %>
    </div>
  </header>
  <div class='wrapper'>
    <nav class='menu'>
      <ul class='left'>
        <li><%= link_to "首页", root_path%></li>
        <li><%= link_to "最新产品", newproduct_path%></li> 
        <li><%= link_to "野兽派花店", beastflower_path %></li> 
        <li><%= link_to "香氛沙龙", fragrance_path %></li> 
        <li><%= link_to "服饰配件", clothes_path %></li> 
        <li><%= link_to "杂货铺", grocery_path %></li> 
        <li><%= link_to "特别合作", cooperation_path %></li>
        <li><%= link_to "帮助中心", faq_path %></li>
      </ul>
    </nav>
  </div> 