<!DOCTYPE html>
<html  class="ua-ff4" lang="zh-CN">
<head>
  <title>乐子_Just For Fun</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="keywords"  content="乐子, exci, exc, 礼物， 手工， 独一无二， 手艺， 乐， 购物, just for fun">
  <meta name="description" content="买卖精美手工，只做有心的，稀有的礼物">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
  <%= favicon_link_tag 'favicon.ico'%>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class=" offset1">
      <%= render 'layouts/header' %>
      <%= yield %>
      <footer>
        <%= render 'layouts/footer' %>
      </footer>
    </div>
   <%= debug(params) if Rails.env.development? %>
  <%= javascript_include_tag 'menu_right' %>
</body>
</html>
